In [6]:
import pandas as pd
import numpy as np
data = np.arange(0, 2, 0.5)
data

array([0. , 0.5, 1. , 1.5])

## Series Type

In [7]:
ser = pd.Series(data)
ser

0    0.0
1    0.5
2    1.0
3    1.5
dtype: float64

In [11]:
data2 = [12, 20, 3, 15] # score of math test
idx2 = ['john', 'will', 'harn', 'kin']

ps2 = pd.Series(data2, index=idx2)
ps2

john    12
will    20
harn     3
kin     15
dtype: int64

## DataFrame Type (2d)

In [15]:
cols = ['Math Score']
df = pd.DataFrame(data2, columns=cols, index=idx2)
df

      Math Score
john          12
will          20
harn           3
kin           15

In [32]:
data = [ [180, 56],
        [170, 49],
       [185, 55]]
cols = ['height', 'dick']
df = pd.DataFrame(data, columns=cols, index=idx2[:3])
df

      height  dick
john     180    56
will     170    49
harn     185    55

In [33]:
import openpyxl
openpyxl.__version__

'3.0.7'

In [34]:
df.describe

<bound method NDFrame.describe of       height  dick
john     180    56
will     170    49
harn     185    55>

In [35]:
df.shape

(3, 2)

In [36]:
df.head()

      height  dick
john     180    56
will     170    49
harn     185    55

In [37]:
df.values

array([[180,  56],
       [170,  49],
       [185,  55]])

In [38]:
df.dtypes

height    int64
dick      int64
dtype: object

In [40]:
df.height.max()

185

In [41]:
df.height

john    180
will    170
harn    185
Name: height, dtype: int64

In [42]:
df.dick

john    56
will    49
harn    55
Name: dick, dtype: int64

In [47]:
df.dick.mean()

53.333333333333336

In [51]:
df.height[1:]

will    170
harn    185
Name: height, dtype: int64

In [53]:
df[['height', 'dick']][2:]

      height  dick
harn     185    55

In [54]:
df[1:]

      height  dick
will     170    49
harn     185    55

In [55]:
df[:2].dick

john    56
will    49
Name: dick, dtype: int64

In [60]:
df.loc[0:1, 'dick':'height']

TypeError: cannot do slice indexing on Index with these indexers [0] of type int

In [63]:
df.iloc[2] # ind 2 = row2

height    185
dick       55
Name: harn, dtype: int64

In [71]:
# select specific row
df.iloc[[0,2,]]

      height  dick
john     180    56
harn     185    55

In [73]:
df = pd.DataFrame({'age': np.random.randint(12, 55, 20)})
df

    age
0    53
1    18
2    51
3    48
4    13
5    34
6    24
7    53
8    49
9    52
10   18
11   22
12   33
13   15
14   37
15   29
16   45
17   21
18   49
19   52

In [74]:
groups = [12,19,30,55] # range of age 12->19, 19->30, 30->55
# 3 groups
labels=['teen', 'young', 'old']
# create new columns name = stages
df['stages'] = pd.cut(df['age'], bins=groups, labels=labels)
df['stages']

0       old
1      teen
2       old
3       old
4      teen
5       old
6     young
7       old
8       old
9       old
10     teen
11    young
12      old
13     teen
14      old
15    young
16      old
17    young
18      old
19      old
Name: stages, dtype: category
Categories (3, object): ['teen' < 'young' < 'old']

In [76]:
df.groupby('stages').count()

        age
stages
teen      4
young     4
old      12

In [77]:
df

    age stages
0    53    old
1    18   teen
2    51    old
3    48    old
4    13   teen
5    34    old
6    24  young
7    53    old
8    49    old
9    52    old
10   18   teen
11   22  young
12   33    old
13   15   teen
14   37    old
15   29  young
16   45    old
17   21  young
18   49    old
19   52    old